# dependencies
node_modules/
Frontend/node_modules/
Backend/node_modules/

# builds
Frontend/build/

# env files
.env
.env.local
Backend/.env
Frontend/.env

# editor / IDE
.idea/
.vscode/

# misc
.DS_Store
npm-debug.log*
